<div class="container-fluid content-box">

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">ADVERTISEMENTS</div>

  <!-- Table -->
  <table class="table">
  <tr>
    <th>Photo</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @ads.each do |ad| %>
  <tr>
    
    <td> <%=  image_tag ad.photo.url(:thumb) %> </td>
    <td> <%= ad.name %> </td>
    <td> <%= link_to "Show", ad_path(ad)  %> </td>
    <td> <%= link_to "Edit", edit_ad_path(ad) %> </td>
    <td> <%= link_to "Delete", ad_path(ad), method: :delete %> </td>
    
  </tr>
  <% end %>
  </table>
</div>
  <%= link_to 'New Advertisement', new_ad_path %> | <%= link_to 'Back to Dashboard', admin_dashboard_path %>

</div>