<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>

</head>
<body>

<div class="banner ncard"> 
</div>

<div style="background-color:rgba(50,50,50,0.5); height:340px; top:0px; position: relative; width:100vw; display: table-cell; vertical-align: bottom; padding-bottom: 2.5em;">
<span class="sub1" style="color:white; margin-left:4.5vw;"><%= @organized_events.count %> <span style="color:#616161;">Events </span></span> 
<span class="sub1" style="color:white; margin-left:1.5vw;"><%= @attended_events.count %> <span style="color:#616161;">Attended events </span></span> 
<% if current_user.try(:id) == @user.id %>
  <%= link_to edit_hound_user_path(@user) do%>

  <span class="sub1" style="float:right; margin-right:5vw; color:#f2f2f2;"><div class="pcard" style="padding:10px; cursor: pointer;">Edit profile <span class="glyphicon glyphicon-edit"></span></div></span>
  <% end %>
<% end %>


<br>
<div style="margin-top:10px;"><span class="sub1" style="color:#616161; margin-left:4.5vw;"><%= @user.email %></span></div> 
<div style="margin-top:10px;">
<span class="sub1" style="color:#616161; margin-left:4.5vw;"><%= @user.website %></span> </div>
</div>

<!--DP-->
<div class="displayPicture card3" style="background-image: url(<%=@user.avatar.url(:medium)%>);cursor: pointer;" >
<% if @user.avatar.exists?(:medium) %>
<%else%>
    <div style="margin-top:27%; margin-left:-12px;">
    <center>
    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
    </center>
    </div>
<%end%>
</div>

<% if current_user.try(:id) == @user.id %>
  <%= form_for(@user, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart:true }) do |f| %>

    <div class="field">
      <%= f.label :avatar %><br />
      <%= f.file_field :avatar %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>        
  <% end %>
<% end %>

<h1 class="h1name" style="" ><bold><%= @user %></bold></h1>
<p class="sub" ><bold><%= @user.description %></bold></p>
</div>

  <div class="container-fluid" style="min-height:802px; margin-top:240px;">
    <div class="row">
      <div class="col-md-8">
          <div class="row" style="">
            

              <div class="col-md-6 sampleBox">
                <div class="glassbox card3" style="cursor: pointer;">
                  <h3 class="description">Singing</h3>
                </div>
               </div>


              <div class="col-md-6 sampleBox">

                <div class="glassbox card3" style="cursor: pointer;">
                  <h3 class="description">Dancing</h3>
                </div>

               </div>
          </div>

          <div class="row" style="">
            

              <div class="col-md-6 sampleBox" > 

                <div class="glassbox card3" style="cursor: pointer;">
                  <h3 class="description">Spoken Word Poetry</h3>
                </div>


              </div>
              <div class="col-md-6 sampleBox"  > 

                <div class="glassbox card3" style="cursor: pointer;">
                  <h3 class="description">Painting</h3>
                </div>

              </div>
          </div>
          </div>
      <!-- END-->
        <div class="col-md-4" style="">
          <div class="card2" style="background-color:#f7f7f7; position:relative; margin-top: 20px; min-height: 740px; padding-bottom:30px;">
          <div style="padding-top:5px;">
            
            <h3 style=" margin-left:4vw;font-family: 'Roboto' !important;">EVENTS</h3>
            
            <button class="" style="height: 40px; width:100px; border-radius: 20px; border: solid 1px; background-color: transparent; margin:25px; margin-left:4vw;"><b>Organized</b></button> 

            <button style="height: 40px; width:100px; border-radius: 20px; border: none; background-color: transparent; "><b>Attended</b></button>
            <button style="height: 40px; width:100px; border-radius: 20px; border: none; background-color: transparent; "><b>Pending</b></button>
          </div>
            <!--First Entry for Events Box-->
            <div class="row entry pcard" style="padding-top:10px; padding-bottom:10px; cursor: pointer;" >
              <div class="col-md-2" > </div>
              <div class="col-md-2 sixtyBySixty" > </div>
              <div class="col-md-8">
                <h3 class="eventTitle"> Slamma Slick Saturdays </h3>
              <!--Details 1 -->
              <div class="row details" >
                  <div class="col-md-6 smallFont" > 
                    October 31
                  </div>
                  <div class="col-md-6 smallFont" >
                    40 Attendees
                  </div>
                </div>  
              </div>
              <!--End of Details-->
            </div>
            <!--End of First Entry Box-->

            <div class="row entry pcard"  style="margin-top:25px; padding-top:10px; padding-bottom:10px; cursor: pointer;">

              <div class="col-md-2" > </div>
              <div class="col-md-2 sixtyBySixty" > </div>
              <div class="col-md-8">
                <h3 class="eventTitle">Coffee Workshop</h3>
              <!--Details-->
                <div class="row details" >
                  <div class="col-md-6 smallFont"> 
                    November 2
                  </div>

                  <!--Number of attendees for event 2-->

                  <div class="col-md-6 smallFont" >
                    19 Attendees
                  </div>

                </div>  

              </div>
              <!--End of Details-->

            </div>
            <!--End of Second Entry Box-->
            <div class="row entry pcard"  style="margin-top:25px; padding-top:10px; padding-bottom:10px; cursor: pointer;">

              <div class="col-md-2" > </div>
              <div class="col-md-2 sixtyBySixty" > </div>
              <div class="col-md-8">
                <h3 class="eventTitle">Coffee Workshop</h3>
              <!--Details-->
                <div class="row details" >
                  <div class="col-md-6 smallFont"> 
                    November 2
                  </div>

                  <!--Number of attendees for event 2-->

                  <div class="col-md-6 smallFont" >
                    19 Attendees
                  </div>

                </div>  

              </div>
              <!--End of Details-->

            </div>
            <!--End of Second Entry Box-->

      </div>

    </div>

    </div>

  </div>




<div>
  Organized:
  <% @organized_events.each do |organized_event| %>
    <div>
      <%= link_to organized_event.name, event_path(organized_event) %><br />
      <%= organized_event.start_date.strftime('%B %d') %><br />
      <% if organized_event.attendee_count == 1 %>
        <%= organized_event.attendee_count %> Attendee 
      <% else %>
        <%= organized_event.attendee_count %> Attendees
      <% end %>
    </div>
  <% end %>
</div>

<div>
  Attended
  <% @attended_events.each do |attended_event| %>
    <div>
      <%= link_to attended_event.name, event_path(attended_event) %><br />
      <%= attended_event.start_date.strftime('%B %d') %><br />
      <% if attended_event.attendee_count == 1 %>
        <%= attended_event.attendee_count %> Attendee 
      <% else %>
        <%= attended_event.attendee_count %> Attendees
      <% end %>
  </div>
  <% end %>
</div>

<% if (current_user.try(:admin?)) || (current_user.try(:id) == @user.id) %>
  <div>
    Pending:
    <% @pending_events.each do |pending_event| %>
      <div>
        <%= link_to pending_event.name, event_path(pending_event) %><br />
        <%= pending_event.start_date.strftime('%B %d') %><br />
      </div>
    <% end %>
  </div>
<% end %>

<div>
  Favorites/Hobbies
  <% @user.user_tags.each do |user_tag| %>
    <div>
      <%= link_to user_tag.tag.name, {:controller => "events", :action => "search", :category => user_tag.tag.name} %>
      SHOW PHOTO HERE<%= user_tag.tag.photo %>
    </div>
  <% end %>
</div>



<% if current_user.try(:admin?)  %>
<%= link_to 'Cancel account', hound_user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<footer class="footer">


  <h6 style="color:white;">About us | Terms and Conditions | Copyright 2015 <span style="float:right; margin-right:180px;">|</span> <span style="float:right; margin-right:110px;">Powered by</span></h6> 

<%=image_tag "elem_icon-ig1.png", :style => "width: 3%; float:right; margin-top:-37px; margin-right:20px;cursor: pointer;", :class=>"pcard cir"%>

<%=image_tag "elem_icon-twit1.png", :style => "width: 3%; float:right; margin-top:-37px; margin-right:10px;cursor: pointer;", :class=>"pcard cir"%>

<%=image_tag "elem_icon-fb1.png", :style => "width: 3%; float:right; margin-top:-37px; margin-right:10px;cursor: pointer;", :class=>"pcard cir"%>

<%=image_tag "misalogo.png", :style => "width: 7%; float:right; margin-top:-30px; margin-right:35px;cursor: pointer;"%>


</footer>

  
  

</body>
</html>









