<%= @user.events.count %> Events | <%= @attended_events.count %> Attended events

Name: <%= @user %>

<div>
  Organized:
  <% @user.events.each do |event| %>
    <div>
      <%= event.name %><br />
      <%= event.start_date %><br />
      <% if event.attendee_count == 1 %>
        <%= event.attendee_count %> Attendee 
      <% else %>
        <%= event.attendee_count %> Attendees
      <% end %>
    </div>
  <% end %>
</div>

<div>
  Attended
  <% @attended_events.each do |attended_event| %>
    <div>
      <%= attended_event.name %><br />
      <%= attended_event.start_date %><br />
      <% if attended_event.attendee_count == 1 %>
        <%= attended_event.attendee_count %> Attendee 
      <% else %>
        <%= attended_event.attendee_count %> Attendees
      <% end %>
  </div>
  <% end %>
</div>

<div>
  Favorites/Hobbies
  <% @user.user_tags.each do |user_tag| %>
    <div>
      <%= user_tag.tag.name %>
    </div>
  <% end %>
</div>

<%= link_to "Edit profile", edit_hound_user_path(@user) %>