<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>

</head>
<body>

<div class="banner ncard"> 
</div>

<div style="background-color:rgba(50,50,50,0.5); height:340px; top:0px; position: relative; width:100vw; display: table-cell; vertical-align: bottom; padding-bottom: 2.5em;">
<span class="sub1" style="color:white; margin-left:4.5vw;"><%= @organized_events.count %> <span style="color:#616161;">Events </span></span> 
<span class="sub1" style="color:white; margin-left:1.5vw;"><%= @attended_events.count %> <span style="color:#616161;">Attended events </span></span> 
<br>
<div style="margin-top:10px;"><span class="sub1" style="color:#616161; margin-left:4.5vw;"><%= @user.email %></span></div> 
<div style="margin-top:10px;">
<span class="sub1" style="color:#616161; margin-left:4.5vw;"><%= @user.website %></span> </div>
</div>

<!--DP-->
<div class="displayPicture card3" style="background-image: url(<%=@user.avatar.url(:medium)%>);" >
</div>

<h1 class="h1name" style="" ><bold><%= @user %></bold></h1>
<p class="sub" ><bold><%= @user.description %></bold></p>
</div>

  <div class="container-fluid" style="min-height:802px; margin-top:240px;">
    <div class="row">
      <div class="col-md-8">
          <div class="row" style="">
            

              <div class="col-md-6 sampleBox" >
                <div class="glassbox card3">
                  <h3 class="description">Singing</h3>
                </div>
               </div>


              <div class="col-md-6 sampleBox" style="background: url(images/sample2.jpg)" >

                <div class="glassbox card3">
                  <h3 class="description">Dancing</h3>
                </div>

               </div>
          </div>

          <div class="row" style="">
            

              <div class="col-md-6 sampleBox" style="background: url(images/sample3.jpeg) ;" > 

                <div class="glassbox card3">
                  <h3 class="description">Spoken Word Poetry</h3>
                </div>


              </div>
              <div class="col-md-6 sampleBox" style="background: url(images/portrait.jpg) ;" > 

                <div class="glassbox card3">
                  <h3 class="description">Painting</h3>
                </div>

              </div>
          </div>
          </div>
      <!-- END-->
        <div class="col-md-4" style="">
          <div class="card2" style="background-color:#f7f7f7; position:relative; margin-top: 20px; min-height: 430px; padding-bottom:30px;">
          <div style="padding-top:5px;">
            <h3 style=" margin-left:2vw;font-family: 'Roboto' !important;">EVENTS</h3>
            <button style="height: 40px; width:100px; border-radius: 20px; border: solid 1px; background-color: transparent; margin:25px;"><b>Organized</b></button> <button style="height: 40px; width:100px; border-radius: 20px; border: none; background-color: transparent; "><b>Attended</b></button>
          </div>
            <!--First Entry for Events Box-->
            <div class="row entry pcard" style="padding-top:10px; padding-bottom:10px;" >
              <div class="col-md-2" > </div>
              <div class="col-md-2 sixtyBySixty" > </div>
              <div class="col-md-8">
                <h3 class="eventTitle"> Slamma Slick Saturdays </h3>
              <!--Details 1 -->
              <div class="row details" >
                  <div class="col-md-6 smallFont" > 
                    October 31
                  </div>
                  <div class="col-md-6 smallFont" >
                    40 Attendees
                  </div>
                </div>  
              </div>
              <!--End of Details-->
            </div>
            <!--End of First Entry Box-->

            <div class="row entry pcard"  style="margin-top:25px; padding-top:10px; padding-bottom:10px;">

              <div class="col-md-2" > </div>
              <div class="col-md-2 sixtyBySixty" > </div>
              <div class="col-md-8">
                <h3 class="eventTitle">Coffee Workshop</h3>
              <!--Details-->
                <div class="row details" >
                  <div class="col-md-6 smallFont"> 
                    November 2
                  </div>

                  <!--Number of attendees for event 2-->

                  <div class="col-md-6 smallFont" >
                    19 Attendees
                  </div>

                </div>  

              </div>
              <!--End of Details-->

            </div>
            <!--End of Second Entry Box-->
            <div class="row entry pcard"  style="margin-top:25px; padding-top:10px; padding-bottom:10px;">

              <div class="col-md-2" > </div>
              <div class="col-md-2 sixtyBySixty" > </div>
              <div class="col-md-8">
                <h3 class="eventTitle">Coffee Workshop</h3>
              <!--Details-->
                <div class="row details" >
                  <div class="col-md-6 smallFont"> 
                    November 2
                  </div>

                  <!--Number of attendees for event 2-->

                  <div class="col-md-6 smallFont" >
                    19 Attendees
                  </div>

                </div>  

              </div>
              <!--End of Details-->

            </div>
            <!--End of Second Entry Box-->

      </div>

    </div>

    </div>

  </div>




<%= @user.events.count %> Events | <%= @attended_events.count %> Attended events

Name: <%= @user %>


<div>
  Organized:
  <% @organized_events.each do |organized_event| %>
    <div>
      <%= organized_event.name %><br />
      <%= organized_event.start_date.strftime('%B %d') %><br />
      <% if organized_event.attendee_count == 1 %>
        <%= organized_event.attendee_count %> Attendee 
      <% else %>
        <%= organized_event.attendee_count %> Attendees
      <% end %>
    </div>
  <% end %>
</div>

<div>
  Attended
  <% @attended_events.each do |attended_event| %>
    <div>
      <%= attended_event.name %><br />
      <%= attended_event.start_date.strftime('%B %d') %><br />
      <% if attended_event.attendee_count == 1 %>
        <%= attended_event.attendee_count %> Attendee 
      <% else %>
        <%= attended_event.attendee_count %> Attendees
      <% end %>
  </div>
  <% end %>
</div>

<% if (current_user.try(:admin?)) || (current_user.try(:id) == @user.id) %>
  <div>
    Pending:
    <% @pending_events.each do |pending_event| %>
      <div>
        <%= pending_event.name %><br />
        <%= pending_event.start_date.strftime('%B %d') %><br />
      </div>
    <% end %>
  </div>
<% end %>

<div>
  Favorites/Hobbies
  <% @user.user_tags.each do |user_tag| %>
    <div>
      <%= link_to user_tag.tag.name, {:controller => "events", :action => "search", :category => user_tag.tag.name} %>
    </div>
  <% end %>
</div>

<% if current_user.try(:id) == @user.id %>
<%= link_to "Edit profile", edit_hound_user_path(@user) %>
<% end %>/

<footer class="footer">


  <h6 style="color:white;">About us | Terms and Conditions | Copyright 2015</h6>
</footer>

  
  

</body>
</html>









