<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>

</head>
<body>

<div class="modal fade" id="pimg" role="dialog" style="margin-top: 10vh;">
  <div class="modal-dialog">
    <center>
        <%= image_tag @user.avatar.url(:large) %>
        </center>
  </div>
</div>


<div class="banner ncard"> 
</div>

<div class="contshow"style="background-color:rgba(50,50,50,0.5); height:340px; top:0px; position: relative; width:100vw; display: table-cell; vertical-align: bottom; ">
<span class="sub1" style="color:white; margin-left:4.5vw;"><%= @organized_events.count %> <span style="color:#616161;"><%if @organized_events.count==1%>
Event<%else%>Events<%end%> </span></span> 
<span class="sub1" style="color:white; margin-left:1.5vw;"><%= @attended_events.count %> <span style="color:#616161;">
<%if @attended_events.count==1%>
Attended event<%else%> Attended events<%end%> </span></span> 
<% if current_user.try(:id) == @user.id %>
  <%= link_to edit_hound_user_path(@user) do%>

  <span class="sub1" style="float:right; margin-right:5vw; color:#f2f2f2;"><div class="pcard" style="padding:10px; cursor: pointer;">Edit profile <span class="glyphicon glyphicon-edit"></span></div></span>
  <% end %>
<% end %>



<br>
<div style="margin-top:10px;"><span class="sub1" style="color:#616161; margin-left:4.5vw;"><a class="sub1 pcard1" target="_blank"href="<%= url_with_protocol(@user.website) %>">Visit Website</a></span></div> 
<div style="margin-top:10px;">
<span class="sub1" style="color:#616161; margin-left:4.5vw;"><!-- old website--></span> </div>
</div>


<% if @user.avatar.exists?(:medium) %>
<div class="displayPicture card3" style="background-image: url(<%=@user.avatar.url(:medium)%>);cursor: pointer;" href="#pimg" data-toggle="modal" >
<%else%>
<div class="displayPicture card3" style="background-image: url(<%=@user.avatar.url(:medium)%>);cursor: pointer;" href="" data-toggle="" >
    <div style="margin-top:27%; margin-left:-12px;">
    <center>
    <span class="glyphicon glyphicon-picture g-p1" aria-hidden="true"></span>
    </center>
    </div>
<%end%>
</div>

<h1 class="h1name" style="" ><bold><%= @user %></bold></h1>
<p class="sub" ><bold><%= @user.description %></bold></p>
</div>

  <div class="container-fluid" style="min-height:802px; margin-top:240px;">
    <div class="row">
      <div class="col-md-8">
      <% if !@favorites.nil? %>  
          <div class="row" style="">
          <% if !@favorites[0].nil? %> 
                <% if @favorites[0].photo.exists? %>
              <!-- THIS ONE--><%= link_to :controller => "events", :action => "search", :category => @favorites[0].name do%>
              <div class="col-md-6 sampleBox">
                <div class="glassbox card3" style="cursor: pointer; background-image: url( <%=  @favorites[0].photo.url(:medium) %>);">
                  <h3 class="description"><%=@favorites[0].name%> </h3>
                </div>
               </div>
               <% end %>
               <!--Do not forget to add "end" then do for other divs below -->
               <%end%>
              <% end %> 

                <% if !@favorites[1].nil? %>
               <% if @favorites[1].photo.exists? %>
              <%= link_to :controller => "events", :action => "search", :category => @favorites[1].name do%>
              <div class="col-md-6 sampleBox">
                <div class="glassbox card3" style="cursor: pointer; background-image: url( <%=  @favorites[1].photo.url(:medium) %>);">
                  <h3 class="description"><%=@favorites[1].name%> </h3>
                </div>
               </div>
               <% end %>
               <%end%>
               <% end %> 
          </div>

          <div class="row" style="">
            
              <% if !@favorites[2].nil? %>
              <% if @favorites[2].photo.exists? %>
              <%= link_to :controller => "events", :action => "search", :category => @favorites[2].name do%>
              <div class="col-md-6 sampleBox">
                <div class="glassbox card3" style="cursor: pointer; background-image: url( <%=  @favorites[2].photo.url(:medium) %>);">
                  <h3 class="description"><%=@favorites[2].name%> </h3>
                </div>
               </div>
               <% end %>
              <%end%>
              <%end%>

              <% if !@favorites[3].nil? %>
              <% if @favorites[3].photo.exists? %>
              <%= link_to :controller => "events", :action => "search", :category => @favorites[3].name do%>
              <div class="col-md-6 sampleBox">
                <div class="glassbox card3" style="cursor: pointer; background-image: url( <%=  @favorites[3].photo.url(:medium) %>);">
                  <h3 class="description"><%=@favorites[3].name%> </h3>
                </div>
               </div>
               <% end %>
              <%end%>
              <%end%>
          </div>
          <% end %>
          </div>
      <!-- END-->
        <div class="col-md-4" style="">
          <div class="card2" style="background-color:#f7f7f7; position:relative; margin-top: 20px; min-height: 740px; padding-bottom:30px;">
            <div style="padding-top:5px;">
            
            <h3 style=" margin-left:4vw;font-family: 'Roboto' !important;">EVENTS</h3>
            </div>
            <div class="tabs" style="margin-top:20px;">
              <ul class="tab-links">
                  <li class="active"><a href="#tab1">Submitted</a></li>
                  <li><a href="#tab2">Attended</a></li>
                  <% if (current_user.try(:admin?)) || (current_user.try(:id) == @user.id) %>
                  <li><a href="#tab3">Pending</a></li>
                  <%end%>
              </ul>
           
              <div class="tab-content">
                  <%counter_o=0%>
                  <div id="tab1" class="tab active">
                      
                      <% @organized_events.take(7).each do |organized_event| %>
                      <%counter_o=counter_o+1%>
                      <%= link_to organized_event, {'data-no-turbolink' => true} do %>
                      <div class="row entry pcard" style="padding-top:10px; padding-bottom:10px; cursor: pointer;" >
                        <div class="col-md-1" > </div>
                        <% if organized_event.pictures.any? %>
                        <div class="col-md-2" style="background-image: url(<%=organized_event.pictures.first().photo.url(:thumb)%>);background:cover;cursor: pointer; min-height:60px;" > </div>
                        <%else%>
                        <div class="col-md-2" style="background-image: url(/assets/no-img.png);background:cover;cursor: pointer; min-height:60px;" > </div>
                        <%end%>
                        <div class="col-md-8">
                          <h3 class="eventTitle"> <%=organized_event.name %> </h3>
                                    <!--Details 1 -->
                          <div class="row details" >
                              <div class="col-md-6 smallFont" > 
                                <%= organized_event.start_date.strftime('%B %d') %>
                                <% if false %>
                                  <%= to_char(organized_event.start_date, 'Month DD') %>
                                <% end %>
                              </div>
                              <div class="col-md-6 smallFont" >
                                <% if organized_event.attendee_count == 1 %>
                                  <%= organized_event.attendee_count %> Attendee 
                                <% else %>
                                  <%= organized_event.attendee_count %> Attendees
                                <% end %>
                              </div>
                          </div>  
                        </div>
                                    <!--End of Details-->
                      </div>
                      <% end %>
                       <% end %>
                       <center>
                       <%if counter_o==6%>
                       <%= link_to "View all organized events", "", :onclick => "$('#organized').click()" %>
                       <%elsif counter_o==0%>
                       No event submitted
                       <%elsif counter_o<6%>

                       <%end%>
                       </center>
                  </div>
                 
                  <%counter_a=0%>
                  <div id="tab2" class="tab">
                    <% @attended_events.take(7).each do |attended_event| %>
                    <%counter_a=counter_a+1%>
                    <%= link_to attended_event, {'data-no-turbolink' => true} do %>
                    <div class="row entry pcard" style="padding-top:10px; padding-bottom:10px; cursor: pointer;" >
                      <div class="col-md-1" > </div>
                      <% if attended_event.pictures.any? %>
                      <div class="col-md-2" style="background-image: url(<%=attended_event.pictures.first().photo.url(:thumb)%>);background:cover;cursor: pointer; min-height:60px;" > </div>
                      <%else%>
                      <div class="col-md-2" style="background-image: url(/assets/no-img.png);background:cover;cursor: pointer; min-height:60px;" > </div>
                      <%end%>
                      <div class="col-md-8">
                        <h3 class="eventTitle"> <%=attended_event.name %></h3>
                                  <!--Details 1 -->
                        <div class="row details" >
                            <div class="col-md-6 smallFont" > 
                              <%= attended_event.start_date.strftime('%B %d') %>
                              <% if false %>
                                <%= to_char(attended_event.start_date, 'Month DD') %>
                              <% end %>
                            </div>
                            <div class="col-md-6 smallFont" >
                            <% if attended_event.attendee_count == 1 %>
                              <%= attended_event.attendee_count %> Attendee 
                            <% else %>
                              <%= attended_event.attendee_count %> Attendees
                            <% end %>
                            </div>
                        </div>  
                      </div>
                                  <!--End of Details-->
                    </div>
                    <% end %>
                  <%end%>
                  <center>
                       <%if counter_a==6%>
                       <%= link_to "View all organized events", "", :onclick => "$('#organized').click()" %>
                       <%elsif counter_a==0%>
                       No event attended
                       <%elsif counter_a<6%>

                       <%end%>
                       </center>
                  </div>
                  <% if (current_user.try(:admin?)) || (current_user.try(:id) == @user.id) %>

                  <%counter_p=0%>
                  <div id="tab3" class="tab">
                    <% @pending_events.take(7).each do |pending_event| %>
                    <%counter_p=counter_p+1%>
                      <%= link_to pending_event, {'data-no-turbolink' => true} do %>
                      <div class="row entry pcard" style="padding-top:10px; padding-bottom:10px; cursor: pointer;" >
                        <div class="col-md-1" > </div>
                        <% if pending_event.pictures.any? %>
                        <div class="col-md-2" style="background-image: url(<%=pending_event.pictures.first().photo.url(:thumb)%>);background:cover;cursor: pointer; min-height:60px;" > </div>
                        <%else%>
                        <div class="col-md-2" style="background-image: url(/assets/no-img.png);background:cover;cursor: pointer; min-height:60px;" > </div>
                        <%end%>
                        <div class="col-md-8">
                          <h3 class="eventTitle" style="text-decoration: none;"> <%= pending_event.name%></h3>
                                    <!--Details 1 -->
                          <div class="row details" >
                              <div class="col-md-6 smallFont" >
                                <%= pending_event.start_date.strftime('%B %d') %>
                                <% if false %>
                                  <%= to_char(pending_event.start_date, 'Month DD') %> 
                                <% end %>
                              </div>
                              <div class="col-md-6 smallFont" >
                              </div>
                          </div>  
                        </div>
                                    <!--End of Details-->
                      </div>

                  <%end%>
                  <%end%>
                      <center>
                       <%if counter_p==6%>
                       <%= link_to "View all organized events", "", :onclick => "$('#organized').click()" %>
                       <%elsif counter_p==0%>
                       No pending events
                       <%elsif counter_p<6%>

                       <%end%>
                       </center>
                  </div>
                  <%end%>
              </div>
          </div>

          </div>
        </div>

    </div>

  </div>

<%= form_tag hound_user_events_path(@user), :class => 'hidden', :method => :get do %>
  <%= submit_tag 'View all organized events', name: 'organized', id: 'organized' %>
  <%= submit_tag 'View all pending events', name: 'pending', id: 'pending' %>
  <%= submit_tag 'View all attended events', name: 'attended', id: 'attended' %>
<% end %>


<% if current_user.try(:admin?)  %>
<%= link_to 'Cancel account', hound_user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

</body>
<script type="text/javascript">
  jQuery(document).ready(function() {
    jQuery('.tabs .tab-links a').on('click', function(e)  {
        var currentAttrValue = jQuery(this).attr('href');
 
        // Show/Hide Tabs
        jQuery('.tabs ' + currentAttrValue).fadeIn(400).siblings().hide();
 
        // Change/remove current tab to active
        jQuery(this).parent('li').addClass('active').siblings().removeClass('active');
 
        e.preventDefault();
    });
});
</script>
</html>