<%= simple_nested_form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.datetime_select :end_date %>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address_one, :placeholder => "Unit, House/Building/Street Number, Street Name, Barangay/District Name", :size => 80 %><br />
    <%= f.select :city, cities, :prompt => "Select City" %>
    <%= f.select :province, provinces, :prompt => "Select Province" %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>

  <!-- AAYUSIN KO PA TO!! -->
  <p><%= f.link_to_add "Add a tag", :event_tags, :data => {:target => "#event_tags"}, :class => "btn" %></p>
  <table id="event_tags">
    <%= f.fields_for :event_tags, :wrapper => false do |ff| %>
    <tr class="fields">
      <td><%= ff.association :tag %></td>
      <td><%= ff.link_to_remove "Remove this tag" %></td>
    </tr>
    <% end %>
  </table>

  <p><%= f.link_to_add "Add a photo", :pictures, :data => {:target => "#pictures"}, :class => "btn" %></p>
  <table id="pictures">
    <%= f.fields_for :pictures, :wrapper => false do |ff| %>
    <tr class="fields">
      <td><%= ff.file_field :photo %></td>
      <td><%= ff.text_field :description, :placeholder => "Description" %></td>
      <td><%= ff.link_to_remove "Remove this photo" %></td>
    </tr>
    <% end %>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>