<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>

</head>
<body>
<div class="container-fluid content-box">
<p id="notice"><%= notice %></p>
<center>
<div class="row" style="">
        <div class="col-md-3">
          <div style="min-height:200px; background-color:#f2f2f2; margin-top:30px" ></div>
        </div>
        <div class="col-md-3">
          <div style="min-height:200px; background-color:#f2f2f2; margin-top:30px" ></div>
        </div>
        <div class="col-md-3">
          <div style="min-height:200px; background-color:#f2f2f2; margin-top:30px" ></div>
        </div>
        <div class="col-md-3">
          <div style="min-height:200px; background-color:#f2f2f2; margin-top:30px" ></div>
        </div>
        <div class="col-md-3">
          <div style="min-height:200px; background-color:#f2f2f2; margin-top:30px" ></div>
        </div>
        <div class="col-md-3">
          <div style="min-height:200px; background-color:#f2f2f2; margin-top:30px" ></div>
        </div>
</div>
</center>

  
  

</body>
<footer class="footer" style="margin-left:-20px; width:103vw;">


  <h6 style="color:white;">About us | Terms and Conditions | Copyright 2015</h6>
</footer>
</html>




<div>
  FILTERS:
  <form action="/search">
    <%= select_tag("date", options_for_select(start_dates), :prompt => "Date", :onchange => "this.form.submit()") %>
    <%= select_tag("city", options_for_select(cities), :prompt => "City", :onchange => "this.form.submit()") %>
    <%= select_tag("category", options_for_select(Tag.all), :prompt => "Category", :onchange => "this.form.submit()") %>
  </form>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>City</th>
      <th>Latitude</th>
      <th>Address</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event, 'data-no-turbolink' => true %></td>
        <td><%= event.start_date.strftime('%B %d, %Y') %></td>
        <td><%= event.city %> City</td>
        <td><%=event.latitude%></td>
        <td><%= event.address %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Event', new_event_path %>
<% end %>
</div>
<footer class="footer">


  <h6 style="color:white;">About us | Terms and Conditions | Copyright 2015</h6>
</footer>

  
  

</body>
</html>

