<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>

</head>
<body>
<div class="container-fluid content-box" style="">
<p id="notice"><%= notice %></p>
<div style="margin-bottom:0px; padding-left:2.7vw; padding-right:2.7vw;">
<br>
  <span style="font-family: 'Roboto' !important; font-size:1.7em;"><b>All Events:</b></span>
  <form action="/search" style="float:right">
    <%= select_tag("date", options_for_select(start_dates), :prompt => "Date", :onchange => "this.form.submit()",:class=>"select-t") %>
    <%= select_tag("city", options_for_select(cities), :prompt => "City", :onchange => "this.form.submit()",:class=>"select-t") %>
    <%= select_tag("category", options_for_select(Tag.all), :prompt => "Category", :onchange => "this.form.submit()",:class=>"select-t") %>
  </form>
</div>
<div style="margin-top:17px; margin-bottom:30px; height:0px; border: 3px solid #A02A26;margin-left:2.7vw; margin-right:2.7vw; "></div>
<center>
<div class="row" style="padding-left:2.7vw; padding-right:2.7vw;">
<% @events.each do |event| %>
        <div class="col-md-4">
          <div style="height:42vh; background-color:#f2f2f2; margin-top:0px; margin-bottom:30px;" >
          <!--IMAGE DIV-->
          <div id="imgdiv" style="height:28vh;" class="">
          </div>

          <div style="height:14vh; background-color:#1c1818; padding-top:0.95em; padding-left:1.75em; padding-right:1.75em;"><%= link_to event.name, event, 'data-no-turbolink' => true, :style=>"float:left; font-family: 'Roboto' !important; font-size:1.5em; color:white;" %> <br>
            <div style="float:left; font-family: 'Roboto' !important; font-size:1em; color:white; margin-top:0.15em;"><%= event.start_date.strftime('%B %d, %Y')%><br>
            <span style="float:left;"><%= event.city%> City</span></div>
          </div>

          </div>
        </div>
<% end %>
        
</div>
</center>
<% if user_signed_in? %>
  <%= button_to 'New Event', new_event_path, :method => "get", :class=>"jbtn" %>
<% end %>

  
</div>

</body>
<footer class="footer">
  <h6 style="color:white;">About us | Terms and Conditions | Copyright 2015</h6>
</footer>

</html>

