<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>

</head>
<body>
<div class="container-fluid content-box" style="">
<p id="notice"><%= notice %></p>
<div style="margin-bottom:0px; padding-left:2.7vw; padding-right:2.7vw;">
<br>
  <span style="font-family: 'Roboto' !important; font-size:1.7em;"><b>SEARCH RESULTS:</b></span>
  <%= render 'filters' %>
</div>
<div style="margin-top:17px; margin-bottom:30px; height:0px; border: 3px solid #A02A26;margin-left:2.7vw; margin-right:2.7vw; "></div>
<center>
<div class="row" style="padding-left:2.7vw; padding-right:2.7vw;">
<% if @events.any? %>
  <% @events.each do |event| %>
        <div class="col-md-4">
        <%= link_to event, {'data-no-turbolink' => true} do %>
        <div class="card3">
            <div style="height:42vh; background-color:#f2f2f2; margin-top:0px; margin-bottom:30px;" >
            <!--IMAGE DIV-->
            <div id="imgdiv" style="height:28vh;background-image: url(<%=event.pictures.first().photo.url(:large)%>;" class="">
            </div>

           <div style="height:14vh; background-color:#1c1818; padding-top:0.95em; padding-left:1.75em; padding-right:1.75em;"><span style="float:left; font-family: 'Roboto' !important; font-size:1.5em; color:white; "><%=event.name%></span> <%if event.status=="Pending"%>
              <span style="float:right; color:#CDDC39;">PENDING</span>
              <%end%><br>
              <div style="float:left; font-family: 'Roboto' !important; font-size:1em; color:white; margin-top:0.15em;"><%= event.start_date.strftime('%B %d, %Y')%><br>
              <span style="float:left;"><%= event.city%> City</span>

              </div>
            </div>

            </div>
            </div>
          <%end%>
        </div>
  <% end %>
<% else %>
<h2>NO RESULTS FOUND</h2>
<%end%>

        
</div>
</center>
<% if user_signed_in? && !current_user.try(:admin?) %>
  <%= button_to 'Add Event', new_event_path, :method => "get", :class=>"jbtn" %>
<%else%>
  <button class="jbtn1"></button>
<% end %>
<div style="border-top:2px solid #f2f2f2;">
<%= will_paginate @events,:class=>"pg",:style=>"margin-top:10px;" %>
</div>
  
</div>

</body>

</html>

