<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>

</head>
<body>
<div class="container-fluid content-box">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @event.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @event.description %>
    </p>

    <p>
      <strong>Start date:</strong>
      <%= @event.start_date %>
    </p>

    <p>
      <strong>End date:</strong>
      <%= @event.end_date %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @event.address %>
    </p>

    <p>
      <strong>Website:</strong>
      <%= @event.website %>
    </p>

    <p>
      <strong>Organizer:</strong>
      <%= @event.user %>
    </p>

    <% if @event.user.id = current_user %>
      <%= link_to 'Edit', edit_event_path(@event) %> |
    <% end %>
    <%= link_to 'Back', events_path %>


</div>
<footer class="footer">


  <h6 style="color:white;">About us | Terms and Condition | Copyright 2015</h6>
</footer>

  
  

</body>
</html>