<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Website:</strong>
  <%= @event.website %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= @event.user %>
</p>

<% if @attendee_count == 1 %>
  <%= @attendee_count %> Attendee 
<% else %>
  <%= @attendee_count %> Attendees
<% end %>

<% if user_signed_in? %>
  <% if @event.user.id == current_user.id %>
    <%= link_to 'Edit', edit_event_path(@event) %> |
  <% else %>
    <% if @attended.empty? %>
      <%= link_to 'Join', join_event_path(@event.id)%>
    <% else %>
      <%= link_to 'Leave', leave_event_path(@event.id)%>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'Back', events_path %>



