
<!DOCTYPE html>
<html lang="en">
<head class="pages">

  <nav class="navbar navbar-inverse" style="background-color:transparent; height:94px; padding:none; border-color:transparent; border:none;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="margin-top:23px;">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a id="" class="navbar-brand" style="">
       <img src="/assets/elem_logo-white.png"class="nvbindex"></img>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" style=" border:hidden!important; border-width:0!important;">
      <ul class="nav navbar-nav navbar-right" style="padding-top:20px;">
                  <% if user_signed_in? %>`
        <li role="presentation" class="dropdown" style=" margin:0px 60px 0px 20px;">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:19px;margin:none; color:white;">
            <%= current_user %> <span class="caret"></span>
          </a>
          
          <ul class="dropdown-menu" style="background-color:transparent;">
            
            <% if current_user.try(:admin?) %>
            <li>
              <p class="" href="#login" data-toggle="modal">
              <center>
              
              <%= link_to "DASHBOARD",admin_dashboard_path, :style=>"font-size:14px; margin-left:12px;color:white;" %>

              </center></p>
            </li>
            <% else %>
            <li>
                <p class="" href="#login" data-toggle="modal"><center><%= link_to "PROFILE", hound_user_path(current_user.id), :style=>"font-size:14px; color:white;" %></center></p>
            </li>
            <%end%>


            <li><hr></li>
            <li>
              <p class="" href="#login" data-toggle="modal"><center><%= link_to "SIGN OUT", destroy_user_session_path, :style=>"font-size:14px; color:white;" %></center></p>
            </li>
          </ul>
        </li>
        <%else%>
        <li style=" margin:20px 10px 0px 20px;"><a style="font-size:22px;margin:none; color:white; outline:0;" href="#login" data-toggle="modal"><b>LOG IN</b></a></li>

         <li style=" margin:20px 50px 0px 10px;"><a style="font-size:22px;margin:none; color:white; outline:0;" href="#signup" data-toggle="modal"><button style="height: 40px; width:150px; border-radius: 20px; border: solid 1px; background-color: transparent; margin-top:-10px; outline:0;"><b>SIGN UP</b></button></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

</head>

<body id="landing">
<section id="index_jum" class="mouse-bg row" data-autoheight="true">
</section><!--end hero-->

<%= render 'modal' %>



 <div class="landing-search">
 <center>
 <span class="lantitle"><b>What's the plan?</b></span><br>
  <form action="/search">
   <input id="sb-1" name="search_query" class="lanSearch" placeholder="" size="15" autofocus="autofocus"><br>
    <input type="submit" value="Submit" class="hide"/>
  </form>
  </center>
</div>

</body>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
/<!--
<script src="assets/mouse.parallax.js"></script>

<script>
$(document).ready(function() {
$('#index_jum').mouseParallax({ moveFactor: 1 });
$('body').height(1000);
});
/* FOR FOCUS
$( document ).keypress(function() {
  $("#sb-1").focus();
});
*/

</script>
-->
<script type="text/javascript">
function shuffle(array) {
  var currentIndex = array.length, temporaryValue, randomIndex ;
  // While there remain elements to shuffle...
  while (0 !== currentIndex) {

    // Pick a remaining element...
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;

    // And swap it with the current element.
    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
  }

  return array;
}
  var images = ["bg1.jpeg", "bg2.jpeg", "bg3.jpeg", "bg4.jpeg", "bg5.jpeg"];
  shuffle(images);
  console.log(images);
  var i = 0;
      $("#index_jum").css("background-image", "url(/assets/" + images[i] + ")");
  /* FOR FADE EFFECT
  $(function () {
      var i = 0;
      $("#index_jum").css("background-image", "url(/assets/" + images[i] + ")");
      setInterval(function () {
          i++;
          if (i == images.length) {
              i = 0;
          }
          $("#index_jum").fadeOut(500, 'swing', function () {
              $(this).css("background-image", "url(/assets/" + images[i] + ")");
              $(this).fadeIn(500);
          });
      }, 25000);
  });*/
</script>



</html>

