<div class="container-fluid content-box">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">TAGS</div>

  <!-- Table -->
  <table class="table">
  <tr>
    <th>Photo</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @tags.each do |tag| %>
  <tr>
    
    <td> <%=  image_tag tag.photo.url(:thumb) %> </td>
    <td> <%= tag.name %> </td>
    <td> <%= link_to "Show", tag_path(tag)  %> </td>
    <td> <%= link_to "Edit", edit_tag_path(tag) %> </td>
    <td> <%= link_to "Delete", tag_path(tag), method: :delete %> </td>
    
  </tr>
  <% end %>
  </table>
</div>
  <%= link_to 'New Tag', new_tag_path %> | <%= link_to 'Back to Dashboard', admin_dashboard_path %>


</div>

