<!DOCTYPE html>
<html>
<head>
  <title>Hound PH</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#1D1717; height:94px; padding:none;">

    <a class="navbar-brand" style=""><%=image_tag "elem_logo-white.png", :style => "width: 95%;"%> </a>
            <ul class="nav navbar-nav navbar-right" style=" padding:none;">
              <li style=" margin:20px 0px 0px 80px;"><a style="font-size:19px; margin:none;"> HOME </a></li>
              <li style=" margin:20px 0px 0px 40px;"><a style="font-size:19px;margin:none;"> ABOUT </a></li>
              
              <li style=" margin:20px 0px 0px 40px;"><a style="font-size:19px;margin:none;"> EVENTS </a>
              <li style=" margin:10px 55px 0px 40px;"><a style="font-size:19px; margin:none;"><input class="navSearch" placeholder="SEARCH"></a></li>
            </ul>
            
</div>
</head>
<body>
<!--<p class="notice"><%=notice%></p>
<p class="alert"><%=alert%></p>-->
<!-- 
<div id="user_nav">
     <% if user_signed_in? %>
         Hi <%= current_user.email %>!
    
          <% if session[:fb_token].nil? %>
               <%= link_to "Sign out", destroy_user_session_path %>
          <% else %>
               <%= link_to "Sign out", facebook_logout_path %>
          <% end %>
     <% end %>
</div> -->

<%= yield %>

</body>
</html>
