<!DOCTYPE html>
<html>
<head>
  <title>Hound PH</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults, "nested_form" %>
  <%= csrf_meta_tags %>
<%if current_page?(root_url)==false%>
  <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#1D1717; height:94px; padding:none;">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="margin-top:25px;"aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    <a class="navbar-brand" style=""><%=image_tag "elem_logo-white.png", :style => "width: 95%;"%> </a>
    <div class="collapse navbar-collapse" style="background:#1c1818;" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" style=" padding:none;">
              <li style=" margin:20px 0px 0px 40px;"><a style="font-size:19px; margin:none;"> HOME </a></li>
              <li style=" margin:20px 0px 0px 40px;"><a style="font-size:19px;margin:none;"> ABOUT </a></li>
              <li style=""><%= link_to "EVENTS", events_path, :style=>"font-size:19px;margin:20px 0px 0px 40px;" %></li>
              <% if user_signed_in? %>`
              <li role="presentation" class="dropdown" style=" margin:20px 0px 0px 20px;">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-eemxpanded="false" style="font-size:19px;margin:none;">
                  <%= current_user.first_name %> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <% if session[:fb_token].nil? %>
                      <p class="navbar-text pull-right" href="#login" data-toggle="modal"><%= link_to "Sign out", destroy_user_session_path %>
                    <% else %></p>
                      <p class="navbar-text pull-right" href="#login" data-toggle="modal"><%= link_to "Sign out", facebook_logout_path %></p>
                    <% end %>
                  </li>
                  <li>wrwer</li>
                </ul>
              </li>
              <%else%>
              <li style=" margin:20px 0px 0px 20px;"><a style="font-size:19px;margin:none;" href="#login" data-toggle="modal">SIGN IN</a></li>
              <% end %>
              <li style=" margin:10px 55px 0px 40px;"><a style="font-size:19px; margin:none;"><input class="navSearch" placeholder="SEARCH"></a></li>

               <!--<div class="container">
           <% if user_signed_in? %>`
              <% if session[:fb_token].nil? %>
                <p class="navbar-text pull-right" href="#login" data-toggle="modal"><%= link_to "Sign out", destroy_user_session_path %>
              <% else %></p>
                <p class="navbar-text pull-right" href="#login" data-toggle="modal"><%= link_to "Sign out", facebook_logout_path %></p>
              <% end %>
              <p class="navbar-text pull-right" href="#login" data-toggle="modal">Hi <%= current_user.email %>!</p>
            <% else %>
              <a class="navbar-text pull-right" href="#signup" data-toggle="modal">Signup</a>
              <a class="navbar-text pull-right" href="#login" data-toggle="modal">Login</a>
            <% end %>

          </div>-->
            </ul>
    </div>
            
</div>
<%else%>
<%end%> -->
</head>
<body>
<!--<p class="notice"><%=notice%></p>
<p class="alert"><%=alert%></p>-->
<!-- 
<div id="user_nav">
     <% if user_signed_in? %>
         Hi <%= current_user.email %>!
    
          <% if session[:fb_token].nil? %>
               <%= link_to "Sign out", destroy_user_session_path %>
          <% else %>
               <%= link_to "Sign out", facebook_logout_path %>
          <% end %>
     <% end %>
</div> -->

<%= yield %>

</body>
</html>

