<!DOCTYPE html>
<html>
<head>
  <title>Hound PH</title>
<meta name="viewport" content="width=device-width; initial-scale=3.0; maximum-scale=10.0; user-scalable=1;" />
  <link rel="shortcut icon" href="/assets/h-logo2.ico" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<%if current_page?(root_url)==false%>
 <nav class="navbar navbar-inverse navbar-fixed-top ncard" style="background-color:#1D1717; height:94px; padding:none;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"style="margin-top:27px;">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style=""><%=image_tag "elem_logo-white.png", :style => "width: 95%;"%> </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" style="background-color:#1D1717;">
      <ul class="nav navbar-nav navbar-right">
      <li style="">
        <%= link_to('HOME', root_path, data: { no_turbolink: true }, :style=>"font-size:19px;margin:20px 0px 0px 1vw; outline:0;") %>
        </li>
        <li style=" margin:20px 0px 0px 1vw;"><a style="font-size:19px;margin:none; outline:0;" href="/about">ABOUT </a></li>
         <li style=" margin:20px 0px 0px 1vw;"><a style="font-size:19px;margin:none; outline:0;" href="https://houndph.wordpress.com/">BLOG </a></li>
        <li style=""><%= link_to "EVENTS", events_path, :style=>"font-size:19px;margin:20px 0px 0px 1vw; outline:0;" %></li>
        <% if user_signed_in? %>`
        <li role="presentation" class="dropdown" style=" margin:20px 0px 0px 1vw;">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-eemxpanded="false" style="font-size:19px;margin:none;">
            <%= current_user %> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            
            <% if current_user.try(:admin?) %>
            <li>
              <p class="" href="#login" data-toggle="modal">
              <center>
              
              <%= link_to "DASHBOARD",admin_dashboard_path, :style=>"font-size:14px; margin-left:12px;" %>

              </center></p>
            </li>
            <% else %>
            <li> <p class="" href="#login" data-toggle="modal"><center><%= link_to "PROFILE", hound_user_path(current_user.id), :style=>"font-size:14px; margin-left:12px;" %></center></p>
            </li>
            <%end%>




            <li><hr></li>
            <li>
              <p class="" href="#login" data-toggle="modal"><center><%= link_to "SIGN OUT", destroy_user_session_path, :style=>"font-size:14px; margin-left:12px;" %></center></p>
            </li>
          </ul>
        </li>
        <%else%>
        <li style=" margin:20px 0px 0px 20px;"><a style="font-size:19px;margin:none;" href="#login" data-toggle="modal">SIGN IN</a></li>
        <% end %>
        <li style=" margin:10px 10px 0px 20px;"><a style="font-size:19px; margin:none;"><form action="/search"><input class="navSearch" placeholder="SEARCH" name="search_query"><input type="submit" value="Submit" class="hide"/></form></a></li>
        
      </ul>
    </div>
  </div>
</nav>
<%else%>
<%end%>
</head>

<%= render 'pages/modal' %>

<body>

<%= yield %>
<%if current_page?(root_url)==false%>
  <%= render 'layouts/footer' %>
<% end %>
</body>
</html>

